.p20 { padding: 20px 20px 20px 0px !important;}
.p5 { padding: 5px 5px 5px 5px !important;}
.pt1 {padding-top:1px !important; }
.pl0 { padding-left:0px !important;}
.p-lightbox-right { padding: 5px 5px 5px 30px !important; }

.m0 { margin: 0px !important;}
.m5 { margin: 5px !important;}
.mr0 { margin-right:0px !important; }
.mr20 { margin-right:20px !important; }

.ml0 { margin-left: 0px !important;}

.no-border { border: none !important; }

.right-column-popup {margin:1px !important; padding:0px !important; }

.underline { border-bottom: 1px solid #D6D6D6 !important; }

.lightbox-image-wrapper { margin: 5px; text-align: center; }

.input-width {width: 95% !important; }

