


<!doctype html>
<html>

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1, minimum-scale=1, initial-scale=1" />
    
    <title>Sky Corporate</title>

    <link rel="stylesheet" href="//web-toolkit.global.sky.com/2.2.11/stylesheets/toolkit.css"/>
    <link rel="stylesheet" href="//web-toolkit.global.sky.com/2.2.11/fonts/skycons.css"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>

    <!--[if lt IE 10]><script type="text/javascript">
        document.createElement('header');
        document.createElement('section');
        document.createElement('footer');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('hgroup');
        document.createElement('nav');
        document.createElement('figure');
        document.createElement('figcaption');
    </script><![endif]-->

    <script src="//web-toolkit.global.sky.com/static/lib/jquery-1.10.2.js"></script>
    <script src="//web-toolkit.global.sky.com/static/lib/require-2.1.9.min.js"></script>
    <script>
        require({ baseUrl: "//web-toolkit.global.sky.com/2.2.11/scripts/" }, ['toolkit']); 
    </script> 
    <script src="/assets/js/functions.js"></script>
    <script src="/assets/js/main.js"></script>

    <link rel="stylesheet" href="//player.sky.com/css/styles.min.css">
    <script src="//player.sky.com/plugin/jquery.omniture.js"></script>
    <script src="//player.sky.com/plugin/jquery.sky.htmlplayer.js"></script>

    <link rel="stylesheet" href="/assets2015/styles/main.css">

</head>

<body class="grid-1140">
    <div id="header">
    <div class="skycom-container clearfix">
        <div class="skycom-12 alpha clearfix relative">
            <h1 class="logo"><a href="#"><img src="/assets/images/logo.png" alt="Sky"></a></h1>

            <p class="sky-link">
                <a title="Go to Sky customers" href="https://my.sky.com/mysky/indexb.html" target="_blank">
                    Sky customers</a>
            </p>
            <div class="search">
                <label class="hide" for="hdrSearch">search</label>
                <input type="text" id="hdrSearch" placeholder="Search" value="" class="js-searchField" data-searchurl="/page.aspx?pointerid=739ba4bf9a1149eda49fcdbf345976c4" />
                <a href="#" class="search-trigger js-search-trigger">
                    <i class=" skycon-search" title="Search" aria-hidden="true"></i>
                </a>
            </div>
            <a href="#" class="navigation-trigger">
                <i class="skycon-menu" aria-hidden="true"></i>
            </a>
            <div class="navigation clearfix">
                <ul>
                    <li>
                        <a title="Go to Home" class="active" href="/">
                            Home</a>
                    </li>
                    <li>
                        <a title="Go to About Sky" class="" href="/about-sky">
                            About Sky</a>
                        <div class="drop-nav">
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/about-sky/believe-in-better">
                                            Believe in better</a></li>
                                </ul>
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/about-sky/ataglance/sky-plc">
                                            At a glance</a></li>
                                    <li>
                                        <a title="Go to Sky plc " href="/about-sky/ataglance/sky-plc">
                                            Sky plc
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Go to UK and Ireland " href="/about-sky/ataglance/uk-and-ireland">
                                            UK and Ireland
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Go to Italy" href=" http://skycorporate.sky.it/page/en/skycorporate/profilo " target="_blank">
                                            Italy</a>
                                    </li>
                                    <li>
                                        <a title="Go to Germany and Austria" href="http://info.sky.de/inhalt/eng/unternehmen_profil_unternehmen_start_eng.jsp " target="_blank">
                                            Germany and Austria</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/about-sky/our-management/our-board">
                                            Our Management</a></li>
                                    <li>
                                        <a title="Go to Our Board" href="/about-sky/our-management/our-board">
                                            Our Board</a>
                                    </li>
                                    <li>
                                        <a title="Go to Executive teams" href="/about-sky/our-management/executive-teams">
                                            Executive teams</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/about-sky/corporate-governance">
                                            Corporate governance</a></li>
                                </ul>
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/about-sky/our-locations">
                                            Our locations</a></li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/about-sky/reports">
                                            Reports</a></li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/about-sky/other-information">
                                            Other information</a></li>
                                    <li>
                                        <a title="Go to Commissioning &amp; ideas submission" href="/about-sky/other-information/commissioning-and-ideas-submission">
                                            Commissioning &amp; ideas submission</a>
                                    </li>
                                    <li>
                                        <a title="Go to Regulatory information" href="/about-sky/other-information/regulatory-information">
                                            Regulatory information</a>
                                    </li>
                                    <li>
                                        <a title="Go to How to be a supplier" href="/about-sky/other-information/how-to-be-a-supplier">
                                            How to be a supplier</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a title="Go to Investors" class="" href="/investors">
                            Investors</a>
                        <div class="drop-nav">
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/investors/latest-results">
                                            Latest results</a></li>
                                </ul>
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/investors/presentations">
                                            Presentations</a></li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/investors/financial-calendar">
                                            Financial calendar</a></li>
                                </ul>
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/investors/rns-announcements">
                                            RNS announcements</a></li>
                                </ul>
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/investors/shareholder-centre">
                                            Share price</a></li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/investors/shareholder-centre">
                                            Shareholder centre</a></li>
                                    <li>
                                        <a title="Go to Ordinary shareholders" href="/investors/shareholder-centre/ordinary-shareholders">
                                            Ordinary shareholders</a>
                                    </li>
                                    <li>
                                        <a title="Go to Dividend information" href="/investors/shareholder-centre/dividend-information">
                                            Dividend information</a>
                                    </li>
                                    <li>
                                        <a title="Go to ADR information" href="/investors/shareholder-centre/adr-information">
                                            ADR information</a>
                                    </li>
                                    <li>
                                        <a title="Go to Shareholder meetings" href="/investors/shareholder-centre/shareholder-meetings">
                                            Shareholder meetings</a>
                                    </li>
                                    <li>
                                        <a title="Go to Electronic shareholder communications" href="/investors/shareholder-centre/electronic-shareholder-communications">
                                            Electronic shareholder communications</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/about-sky/reports">
                                            Reports</a></li>
                                </ul>
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/investors/annual-report-2014">
                                            Annual Report 2014</a></li>
                                    <li>
                                        <a title="Go to Strategic report" href="/investors/annual-report-2014/strategic-report/chairmans-statement">
                                            Strategic report</a>
                                    </li>
                                    <li>
                                        <a title="Go to Governance" href="/investors/annual-report-2014/governance">
                                            Governance</a>
                                    </li>
                                    <li>
                                        <a title="Go to Financial statements" href="/investors/annual-report-2014/financial-statements">
                                            Financial statements</a>
                                    </li>
                                    <li>
                                        <a title="Go to Shareholder information" href="/investors/annual-report-2014/shareholder-information">
                                            Shareholder information</a>
                                    </li>
                                    <li>
                                        <a title="Go to Glossary" href="/investors/annual-report-2014/glossary">
                                            Glossary</a>
                                    </li>
                                    <li>
                                        <a title="Go to Downloads" href="/investors/annual-report-2014/downloads">
                                            Downloads</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/investors/contact-us">
                                            Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a title="Go to Media centre" class="" href="/media-centre">
                            Media centre</a>
                        <div class="drop-nav">
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/media-centre/news-page">
                                            News releases</a></li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/media-centre/media-packs">
                                            Media packs</a></li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/media-centre/downloads-page">
                                            Speeches</a></li>
                                </ul>
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/media-centre/our-blog">
                                            Our blog</a></li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="https://skyprogrammeinformation.co.uk">
                                            Programme information</a></li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/media-centre/biogs">
                                            Biographies</a></li>
                                </ul>
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/media-centre/contact-us">
                                            Contact us</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a title="Go to Bigger Picture" class="" href="/bigger-picture">
                            Bigger Picture</a>
                        <div class="drop-nav">
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/bigger-picture/ceo-introduction">
                                            CEO introduction</a></li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/bigger-picture/positive-contribution">
                                            Positive contribution</a></li>
                                </ul>
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/bigger-picture/responsible-business">
                                            Responsible business</a></li>
                                    <li>
                                        <a title="Go to Our commitments" href="/bigger-picture/responsible-business/our-commitments">
                                            Our commitments</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/bigger-picture/inspiring-action">
                                            Inspiring action</a></li>
                                    <li>
                                        <a title="Go to Sky Academy" href="/bigger-picture/inspiring-action/sky-academy_2/about-sky-academy">
                                            Sky Academy</a>
                                    </li>
                                    <li>
                                        <a title="Go to Cycling" href="/bigger-picture/inspiring-action/cycling">
                                            Cycling</a>
                                    </li>
                                    <li>
                                        <a title="Go to Sky Rainforest Rescue" href="/bigger-picture/inspiring-action/sky-rainforest-rescue">
                                            Sky Rainforest Rescue</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/bigger-picture/sustainability-reporting">
                                            Sustainability reporting</a></li>
                                    <li>
                                        <a title="Go to How we&#39;re doing 2013/14" href="/bigger-picture/sustainability-reporting/how-were-doing-2013-14">
                                            How we&#39;re doing 2013/14</a>
                                    </li>
                                    <li>
                                        <a title="Go to Strategy" href="/bigger-picture/sustainability-reporting/strategy">
                                            Strategy</a>
                                    </li>
                                    <li>
                                        <a title="Go to Stakeholders" href="/bigger-picture/sustainability-reporting/stakeholders">
                                            Stakeholders</a>
                                    </li>
                                    <li>
                                        <a title="Go to Materiality" href="/bigger-picture/sustainability-reporting/materiality">
                                            Materiality</a>
                                    </li>
                                    <li>
                                        <a title="Go to Sustainability governance" href="/bigger-picture/sustainability-reporting/sustainability-governance">
                                            Sustainability governance</a>
                                    </li>
                                    <li>
                                        <a title="Go to Policies" href="/bigger-picture/sustainability-reporting/policies">
                                            Policies</a>
                                    </li>
                                    <li>
                                        <a title="Go to How we report" href="/bigger-picture/sustainability-reporting/how-we-report">
                                            How we report</a>
                                    </li>
                                    <li>
                                        <a title="Go to Download a report" href="/investors/reports">
                                            Download a report</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="drop-column">
                                <ul class="drop-list">
                                    <li class="first bold">
                                        <a href="/bigger-picture/news-and-views">
                                            News and views</a></li>
                                    <li>
                                        <a title="Go to Media centre" data-target="categoriesPiD" data-value="fad06ffec2674649a49210d5841a7619" class="js-redirection-trigger" href="/media-centre/news-page">
                                            Media centre</a>
                                    </li>
                                    <li>
                                        <a title="Go to Newsletters" href="/bigger-picture/news-and-views/newsletters">
                                            Newsletters</a>
                                    </li>
                                    <li>
                                        <a title="Go to Download a report" href="/about-sky/reports">
                                            Download a report</a>
                                    </li>
                                    <li>
                                        <a title="Go to Awards and recognition" href="/bigger-picture/news-and-views/awards-and-recognition">
                                            Awards and recognition</a>
                                    </li>
                                    <li>
                                        <a title="Go to FAQs" href="/bigger-picture/news-and-views/faqs">
                                            FAQs</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a target="_blank" title="Go to Work for Sky" class="" href="http://workforsky.com/">
                            Work for Sky</a>
                    </li>
                    <li>
                        <a title="Go to Contact us" class="" href="/contact-us">
                            Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- skycom-12 -->
    </div>
    <!-- /skycom-container -->
</div>
<!-- /header -->

    <div id="content">
        <div class="content-head">
            <aside id="skycom-breadcrumb" class="skycom-container clearfix">
                <h2 class="speak">Navigational Trail</h2>
                <ul>
                    <li><i class="skycon-chevron" aria-hidden="true"></i>
                        <a href="#">
                            Lorem ipsum</a></li>
                    <li><i class="skycon-chevron" aria-hidden="true"></i>
                        <a href="#">
                            Lorem ipsum</a></li>
                </ul>
            </aside>
            <div class="skycom-container clearfix relative">
                <div class="alpha skycom-12">
                    <h2 class="section-title smaller">Product life cycle</h2>
                </div>
                <!-- /skycom-12 -->
            </div>
            <!-- /skycom-container -->
            <div class="skycom-container clearfix">
                <div class="alpha skycom-12">
                    <section class="module clearfix tabs-container page-nav whole-page" data-function="tabs" id='whole-page-nav-tabs'>
                        <h2 class="speak">This is a screenreader header for tabs</h2>
                        <ul class="tabs clearfix" role="tablist">
                            <li id="whole-page-first-tab" aria-label="first" role="tab" class="tab">
                                <a href="#!whole-page-first" class="ellipsis internal-link active">
                                    <span>Product life cycle</span></a>
                            </li>
                        </ul>
                        <div class="dropdown-tab-select">
                            <div aria-hidden="true" class="medium selector">
                                &hellip;</div>
                            <ul class="more-tabs"></ul>
                        </div>
                    </section>
                </div>
                <!-- /skycom-12 -->
            </div>
            <!-- /skycom-container -->
            <script>
                require(['toolkit'], function () {
                    $('#whole-page-nav-tabs').inPageNav();
                });
            </script>
        </div>
        <!-- /content-head -->
        <div class="sections-banner">
    <div class="skycom-container clearfix lightgrey-bg margin-bottom-40">
        <div class="alpha skycom-12">
            <!-- item -->
            <div class="section-banner-item">
                <a href="#">
                    <img class="desktop-image" src="/assets2015/images/samples/section-banner1.jpg" alt="Lorem ipsum" />
                    <img class="mobile-image" src="/assets2015/images/samples/section-banner-mobile-1.jpg" alt="Lorem ipsum" /></a>
                <div class="item-caption">
                    Sky Academy<br />
                    Careers Lab
                </div>
            </div>
            <!-- / item -->
            <!-- item -->
            <div class="section-banner-item">
                <a href="#">
                    <img class="desktop-image" src="/assets2015/images/samples/section-banner2.jpg" alt="Lorem ipsum" />
                    <img class="mobile-image" src="/assets2015/images/samples/section-banner-mobile-2.jpg" alt="Lorem ipsum" /></a>
                <div class="item-caption">
                    Sky Academy<br />
                    Careers Lab
                </div>
            </div>
            <!-- / item -->
            <!-- item -->
            <div class="section-banner-item">
                <a href="#">
                    <img class="desktop-image" src="/assets2015/images/samples/section-banner3.jpg" alt="Lorem ipsum" />
                    <img class="mobile-image" src="/assets2015/images/samples/section-banner-mobile-3.jpg" alt="Lorem ipsum" /></a>
                <div class="item-caption">
                    Sky Academy<br />
                    Careers Lab
                </div>
            </div>
            <!-- / item -->
            <!-- item -->
            <div class="section-banner-item">
                <a href="#">
                    <img class="desktop-image" src="/assets2015/images/samples/section-banner4.jpg" alt="Lorem ipsum" />
                    <img class="mobile-image" src="/assets2015/images/samples/section-banner-mobile-4.jpg" alt="Lorem ipsum" /></a>
                <div class="item-caption">
                    Sky Academy<br />
                    Careers Lab
                </div>
            </div>
            <!-- / item -->
            <!-- item -->
            <div class="section-banner-item">
                <a href="#">
                    <img class="desktop-image" src="/assets2015/images/samples/section-banner5.jpg" alt="Lorem ipsum" />
                    <img class="mobile-image" src="/assets2015/images/samples/section-banner-mobile-5.jpg" alt="Lorem ipsum" /></a>
                <div class="item-caption">
                    Sky Academy<br />
                    Careers Lab
                </div>
            </div>
            <!-- / item -->


            <img class="gradient-line"  src="/assets2015/images/sky_colour_bar.jpg" />
        </div>
    </div>
</div>

        <div class="skycom-container clearfix ">
            <div class="skycom-8 alpha ">
                <div class="editable-content">
                    <h3 class="pod-title smaller row-title">Sustainable products approach</h3>
                    <p>At Sky we set out to make our products more sustainable, and put in place fundamental building blocks to achieve that. The core elements of Sky’s Better Products Programme include:</p>
                    <ul>
                        <li>Using Life Cycle Assessment techniques to understand the environmental impact of our products from cradle to grave, i.e  extraction of material resources through manufacture, use to disposal, from an environmental impacts perspective, as well as greenhouse gas emissions.</li>
                        <li>Developing tools and training to embed eco-design and enable decision making across the entire products </li>
                    </ul>
                    <p>We have identified where we have the biggest environmental impact, and where we have the most influence.</p>
                    <h3 class="pod-title smaller row-title">Life cycle assessment findings</h3>
                    <p>Below is the breakdown of greenhouse gas emissions for the Sky+ HD box by life cycle stage. We’ve modelled this based on a technical design life of ten years, as we have designed for longevity. The electricity consumed in use accounts for the majority of Green House Gas emissions, and we are making great strides to make the product more efficient without compromising functionality.</p>
                    <p>Of the other life cycle stages, we have identified that the next biggest impact lies with the manufacture of components and the supply chain. Sky+ HD Box GHG emissions contribution from components: 5.5% of the total (Percent %)</p>
                    <a id="lightbox-demo-link" href="#!lightbox/demo">
    Show Lightbox from DOM</a>
<article id="lightbox-demo" class='hidden lightbox-wrapper' aria-labelledby="lightbox-demo-link">
    <div class="relative video-container">
        <img src="/assets2015/images/samples/Untitled-12.jpg" style="width: 100%; height: auto;" />
        <a href="#!" class="play-video">
            <i class="icon-video-play" aria-hidden="true"></i><span class="hidden-mobile">Watch now</span>
        </a>
        <script>
            if (typeof require != "undefined") {
                if (require.version != "2.0.5")
                    require(['toolkit'], function () {
                        $('#carousel-video').video({
                            token: '8D5B12D4-E1E6-48E8-AF24-F7B13050EE85', //this token should be unique to your team
                            displayAdverts: true
                        });
                    });
            }
        </script>
    </div>
    <!-- Note you can use the sky-grid in lightboxes -->
    <div class="skycom-container clearfix">
        <div class="skycom-12 alpha">
            <h2>Large Lightbox</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <h3>Other Links</h3>
            <ul>
                <li>
                    <a href="#">
                        <i class="skycon-chevron colour"></i>Lorem Ipsum</a></li>
                <li>
                    <a href="#">
                        <i class="skycon-chevron colour"></i>Dolor sit amet</a></li>
                <li>
                    <a href="#">
                        <i class="skycon-chevron colour"></i>Consectetur adipisicing elit</a></li>
                <li>
                    <a href="#">
                        <i class="skycon-chevron colour"></i>Sed do eiusmod</a></li>
                <li>
                    <a href="#">
                        <i class="skycon-chevron colour"></i>Tempor incididunt</a></li>
                <li>
                    <a href="//www.sky.com">
                        <i class="skycon-chevron colour"></i><span>Inside span</span> outside span</a></li>
                <li>
                    <a href="//www.sky.com">
                        <i class="skycon-chevron colour"></i>Sky Homepage (external link)</a></li>
            </ul>
            <br />
            <br />
        </div>
        <div class="skycom-5">
        </div>
    </div>
</article>
<script>

    require(['toolkit'], function () {
        //JS for default lightbox
        $('#lightbox-demo-link').lightbox();

        //JS for default lightbox with callbacks (onShow and onClose)
        $('#lightbox-demo-link-with-callbacks').lightbox({
            onShow: function () {
                $('[data-function=carousel]').trigger("pause");
                $('#lightbox-demo-with-callbacks').trigger('my-lightbox-opened');
            }, onClose: function () {
                $('#lightbox-demo-with-callbacks').trigger('my-lightbox-closed');
            }
        });
    });
                         
</script>

                </div>
            </div>
            <!-- /skycom-12 -->
            <div class="skycom-4 ">
                <div class="js-twitter-impulse">
                    <div class="box style-b border-b">
                        <h3 class="pod-title smaller  "><i class=" skycon-twitter colour" title="Twitter" aria-hidden="true"></i>@SkyCorporate</h3>
                        <div class="box-top">
                            <ul class="box-tweets tweets-collapsed">
                                <li class="feed-item ">
                                    <p>
                                        <a target="_blank" href="https://twitter.com/SkyCorporate/status/588964361588322304">
                                            @SkyCorporate</a>
                                        - RT @SkySUBC: Have you got a question for @NicolaSturgeon? Tweet @SkySUBC! We're holding a Q&amp;A..&nbsp;</p>
                                    <div class="box-bottom">
                                        <div class="twitter-impulse-wrapper">
                                            <div class="intents">
                                                <a class="reply" title="Reply to this tweet" data-popup="{'width': '550','height':'420','title':'intent'}" target="_blank" href="https://twitter.com/intent/tweet?in_reply_to=588964361588322304">
                                                    <i class="skycon-twitter-reply" aria-hidden="true"></i><span class="speak">Reply</span>
                                                </a>
                                                <a class="retweet" title="Retweet this tweet" data-popup="{'width': '550','height':'420','title':'intent'}" target="_blank" href="https://twitter.com/intent/retweet?tweet_id=588964361588322304">
                                                    <i class="skycon-twitter-retweet" aria-hidden="true"></i><span class="speak">Retweet</span>
                                                </a>
                                                <a class="favourite" title="Add this tweet to favourite" data-popup="{'width': '550','height':'420','title':'intent'}" target="_blank" href="https://twitter.com/intent/favorite?tweet_id=588964361588322304">
                                                    <i class="skycon-twitter-favourite" aria-hidden="true"></i><span class="speak">Favourite</span>
                                                </a>
                                                <a class="follow" title="Follow" data-popup="{'width': '550','height':'420','title':'intent'}" target="_blank" href="https://twitter.com/intent/user?screen_name=SkyCorporate">
                                                    <i class="skycon-twitter-follow" aria-hidden="true"></i><span class="speak">Follow</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="feed-item tweet-display">
                                    <p>
                                        <a target="_blank" href="https://twitter.com/SkyCorporate/status/588725816923705346">
                                            @SkyCorporate</a>
                                        - Sky strikes landmark new partnership with
                                        <a target="_blank" href="http://twitter.com/telecomitalia">
                                            @telecomitalia</a>
                                        <a target="_blank" href="http://t.co/2BKlY1nYWr">
                                            bit.ly/1HbvMzU</a></p>
                                    <div class="box-bottom">
                                        <div class="twitter-impulse-wrapper">
                                            <div class="intents">
                                                <a class="reply" title="Reply to this tweet" data-popup="{'width': '550','height':'420','title':'intent'}" target="_blank" href="https://twitter.com/intent/tweet?in_reply_to=588725816923705346">
                                                    <i class="skycon-twitter-reply" aria-hidden="true"></i><span class="speak">Reply</span>
                                                </a>
                                                <a class="retweet" title="Retweet this tweet" data-popup="{'width': '550','height':'420','title':'intent'}" target="_blank" href="https://twitter.com/intent/retweet?tweet_id=588725816923705346">
                                                    <i class="skycon-twitter-retweet" aria-hidden="true"></i><span class="speak">Retweet</span>
                                                </a>
                                                <a class="favourite" title="Add this tweet to favourite" data-popup="{'width': '550','height':'420','title':'intent'}" target="_blank" href="https://twitter.com/intent/favorite?tweet_id=588725816923705346">
                                                    <i class="skycon-twitter-favourite" aria-hidden="true"></i><span class="speak">Favourite</span>
                                                </a>
                                                <a class="follow" title="Follow" data-popup="{'width': '550','height':'420','title':'intent'}" target="_blank" href="https://twitter.com/intent/user?screen_name=SkyCorporate">
                                                    <i class="skycon-twitter-follow" aria-hidden="true"></i><span class="speak">Follow</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="feed-item tweet-display">
                                    <p>
                                        <a target="_blank" href="https://twitter.com/SkyCorporate/status/588720767535308800">
                                            @SkyCorporate</a>
                                        - RT @SkyLivingHD: Watch our exclusive interview with the stars of #MadamSecretary, Téa Leoni &amp;..&nbsp;</p>
                                    <div class="box-bottom">
                                        <div class="twitter-impulse-wrapper">
                                            <div class="intents">
                                                <a class="reply" title="Reply to this tweet" data-popup="{'width': '550','height':'420','title':'intent'}" target="_blank" href="https://twitter.com/intent/tweet?in_reply_to=588720767535308800">
                                                    <i class="skycon-twitter-reply" aria-hidden="true"></i><span class="speak">Reply</span>
                                                </a>
                                                <a class="retweet" title="Retweet this tweet" data-popup="{'width': '550','height':'420','title':'intent'}" target="_blank" href="https://twitter.com/intent/retweet?tweet_id=588720767535308800">
                                                    <i class="skycon-twitter-retweet" aria-hidden="true"></i><span class="speak">Retweet</span>
                                                </a>
                                                <a class="favourite" title="Add this tweet to favourite" data-popup="{'width': '550','height':'420','title':'intent'}" target="_blank" href="https://twitter.com/intent/favorite?tweet_id=588720767535308800">
                                                    <i class="skycon-twitter-favourite" aria-hidden="true"></i><span class="speak">Favourite</span>
                                                </a>
                                                <a class="follow" title="Follow" data-popup="{'width': '550','height':'420','title':'intent'}" target="_blank" href="https://twitter.com/intent/user?screen_name=SkyCorporate">
                                                    <i class="skycon-twitter-follow" aria-hidden="true"></i><span class="speak">Follow</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="admin-item-wrapper  ">
                    <div class="box style-a border-b">
                        <h3 class="pod-title smaller">Related content</h3>
                        <div class="box-bottom">

                            <ul class="box-links">
                                <li>
                                    <a href="/bigger-picture/sustainability-reporting/strategy" onclick="s_objectID=&quot;http://localhost:54048/bigger-picture/sustainability-reporting/strategy_2&quot;;return this.s_oc?this.s_oc(e):true">
                                        <i class="skycon-chevron"></i>Strategy</a></li>
                                <li>
                                    <a href="/bigger-picture/sustainability-reporting/stakeholders" onclick="s_objectID=&quot;http://localhost:54048/bigger-picture/sustainability-reporting/stakeholders_2&quot;;return this.s_oc?this.s_oc(e):true">
                                        <i class="skycon-chevron"></i>Stakeholders</a></li>
                                <li>
                                    <a href="/bigger-picture/sustainability-reporting/materiality" onclick="s_objectID=&quot;http://localhost:54048/bigger-picture/sustainability-reporting/materiality_2&quot;;return this.s_oc?this.s_oc(e):true">
                                        <i class="skycon-chevron"></i>Materiality</a></li>
                                <li>
                                    <a href="/bigger-picture/sustainability-reporting/sustainability-governance" onclick="s_objectID=&quot;http://localhost:54048/bigger-picture/sustainability-reporting/sustainability-governance_2&quot;;return this.s_oc?this.s_oc(e):true">
                                        <i class="skycon-chevron"></i>Sustainability governance</a></li>
                                <li>
                                    <a href="/bigger-picture/sustainability-reporting/policies" onclick="s_objectID=&quot;http://localhost:54048/bigger-picture/sustainability-reporting/policies_2&quot;;return this.s_oc?this.s_oc(e):true">
                                        <i class="skycon-chevron"></i>Policies</a></li>
                                <li>
                                    <a href="/bigger-picture/sustainability-reporting/how-we-report" onclick="s_objectID=&quot;http://localhost:54048/bigger-picture/sustainability-reporting/how-we-report_2&quot;;return this.s_oc?this.s_oc(e):true">
                                        <i class="skycon-chevron"></i>How we report</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /box -->
                </div>
                <div class="admin-item-wrapper ">
                    <div class="box style-a border-a">
                        <h3 class="pod-title smaller   ">
                            <a href="/media-centre/our-blog/2015/makingskythesafestplaceforfamilies">
                                Latest blog
                            </a>
                        </h3>
                        <div class="box-top">
                            <a href="/media-centre/our-blog/2015/makingskythesafestplaceforfamilies">
                                <img src="/assets2015/images/samples/Untitled-11.jpg" />
                            </a>
                        </div>
                        <div class="box-bottom">
                            <p>Making Sky the safest place for families</p>
                            <ul id="_ff10327beeed1856_ctl00_ctl00_ctl01_ctl00_linkswrapper" class="box-links">
                                <li>
                                    <a href="/media-centre/our-blog/2015/makingskythesafestplaceforfamilies">
                                        <i class="skycon-chevron"></i>Find out more &gt;</a>
                                </li>
                            </ul>
                            <div class="share-popup clearfix">
                                <a class="summary" href="#!" onclick="Functions.Socials.loadSocialsAjax('9eaf2ae549b1468ba8aef6c8c6b2b015')" data-tracking-context="Shared article title" aria-label="Shared 146 times. Click to show share options">
                                    <i class="skycon-share"></i><span class="share-word" aria-hidden="true">&nbsp;Share</span></a>
                                <div id="js-ajaxSocials9eaf2ae549b1468ba8aef6c8c6b2b015" class="popover js-share-tools-wrapper">
                                    <span class='spinner-blue '></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /box -->
                </div>
            </div>
        </div>
        <!-- /skycom-container -->
    </div>
    <!-- /content -->
    
<div id="footer">
    <div class="skycom-container clearfix">
        <div class="skycom-12 alpha clearfix relative">
            <p class="footer-title">More Sky Sites</p>
            <div class="footer-row clearfix">
                <ul class="footer-links">
                    <li><a href="#">Sky News</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Sky Sports</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Sky Bet</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Sky Bingo</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Sky Poker</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Sky Vegas</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">NOW TV</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">The Bigger Picture</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Sky Sports Living For Sports</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Sky Ride</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Sky Arts Ignition Series</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Rainforest Rescue</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Carbon Calculator</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Sky Line Consumer Panel</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Store Locator</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Work For Sky</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Security Centre</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Advertise with Us</a></li>
                </ul>
            </div>
            <div class="footer-row clearfix last">
                <ul class="footer-links">
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Privacy & Cookies Notice</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Accessibility Information</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><span>|</span></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
                <a href="#" class="country-link"><img src="/assets/images/ireland-flag.png" alt="Ireland">Go to Ireland site</a>
            </div>
            <p class="copyright"><img src="/assets/images/logo-small.png" alt="Sky">and the Sky trademarks are owned by British Sky Broadcasting Group and Sky IP International Limitied and are used under license.</p>
            <p class="copyright mobile"><img src="/assets/images/logo-small.png" alt="Sky">&copy; 2013 BSkyB</p>
        </div><!-- /skycom-12 -->
    </div><!-- /skycom-container -->
</div><!-- /footer -->

</body>
</html>
